body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: linear-gradient( rgb(56, 56, 56), 77%, rgb(250, 109, 130));
    background-repeat: no-repeat;
    height: auto;
}

.count-input {
	width:10%;
	display: inline;
}



.add-to-basket-block {
	margin-top: 7px;
}


.modal-image {
	width: 100%;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.modal-dialog img {
    float: left;
    margin: 0 16px 0 0;
}
.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: normal;
}

.row3 img {
    text-align: center;
    margin: 15px 15px 1px 15px;
}
.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #fa4481f5;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #ec1111;
}
.amount{
    display: inline;
}
.product{
    display: inline;
}
.remove-from-cart{
    display: inline;
}
footer {
    margin: 50px 0;
}
.row2 {
    font-size: 185%;
}
.row2 p {
margin-top: 15px;
margin-left: 15px;
margin-bottom: 0px;
color: #ffffff;
}

.row4 {
    font-size: 80%;
}

.lead  {
    color: #ffffff;
    font-size: 180%
}